[submodule "tests/test_helper/bats-core"]
	path = tests/test_helper/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "tests/test_helper/bats-support"]
	path = tests/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "tests/test_helper/bats-assert"]
	path = tests/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "linux-rpi-raspberrypi-kernel_1.20171029-1"]
	path = src/bbserial/linux-rpi-raspberrypi-kernel_1.20171029-1
	url = https://github.com/raspberrypi/linux.git
