include templates/tool-view.pug
include templates/estop.pug
include templates/admin-network-view.pug
include templates/modbus-reg-view.pug
include templates/io-view.pug
include templates/motor-view.pug
include templates/io-indicator.pug
include templates/help-view.pug
include templates/settings-view.pug
include templates/macros.pug
include templates/indicators.pug
include templates/path-viewer.pug
include templates/control-view.pug
include templates/cheat-sheet-view.pug
include templates/templated-input.pug
include templates/console.pug
include templates/axis-control.pug
include templates/message.pug
include templates/admin-general-view.pug
include templates/gcode-viewer.pug
