script#tool-view-template(type="text/x-template"): 
  include templates/tool-view.pug

script#estop-template(type="text/x-template"): 
  include templates/estop.pug

script#admin-network-view-template(type="text/x-template"): 
  include templates/admin-network-view.pug

script#modbus-reg-view-template(type="text/x-template"): 
  include templates/modbus-reg-view.pug

script#io-view-template(type="text/x-template"): 
  include templates/io-view.pug

script#motor-view-template(type="text/x-template"): 
  include templates/motor-view.pug

script#io-indicator-template(type="text/x-template"): 
  include templates/io-indicator.pug

script#help-view-template(type="text/x-template"): 
  include templates/help-view.pug

script#settings-view-template(type="text/x-template"): 
  include templates/settings-view.pug

script#macros-template(type="text/x-template"): 
  include templates/macros.pug

script#indicators-template(type="text/x-template"): 
  include templates/indicators.pug

script#path-viewer-template(type="text/x-template"): 
  include templates/path-viewer.pug

script#control-view-template(type="text/x-template"): 
  include templates/control-view.pug

script#cheat-sheet-view-template(type="text/x-template"): 
  include templates/cheat-sheet-view.pug

script#templated-input-template(type="text/x-template"): 
  include templates/templated-input.pug

script#console-template(type="text/x-template"): 
  include templates/console.pug

script#axis-control-template(type="text/x-template"): 
  include templates/axis-control.pug

script#message-template(type="text/x-template"): 
  include templates/message.pug

script#admin-general-view-template(type="text/x-template"): 
  include templates/admin-general-view.pug

script#gcode-viewer-template(type="text/x-template"): 
  include templates/gcode-viewer.pug
